extends layout

block content
	.container-fluid
		.row-fluid
			.span3
				.well.sidebar-nav
					ul.nav.nav-list
						li.active
							.btn.btn-success Send A Referral 
						li.nav-header
							| Inbox 
						li
							a(href='#') Unread
						li
							a(href='#') Sent
						li
							a(href='#') Action Center
						li.nav-header
							| Network 
						li
							a(href='#') Patients
						li
							a(href='#') Contacts
						li
							a(href='#') Invitations
						li.nav-header
							| Reports 
						li
							a(href='#') My Trends
						li
							a(href='#') Network Activity
			.span9
				h1 hello fellow referralMD rockstar dev's!
				p This is where
				p the app will exist
				p ...
				.btn.btn-primary Cool Button that does absolutly nothing!
	.footer
		p &copy; 2013 referralMD&trade; | All Rights Reserved.