extends layout

block content
	.navbar.navbar-inverse.navbar-fixed-top
		.navbar-inner
			.container-fluid
				button.btn.btn-navbar(type="button", data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href='#') referralMD&trade;
				.nav-collapse.collapse
					p.navbar-text.pull-right
						| Loggedn in as 
						a.navbar-link(href='#') Dr. Jefe Evans
					ul.nav
						li.active
							a(href='#') Getting Started
						li
							a(href='#') My Account
						li
							a(href='#') Invite Colleagues
					//
						/.nav-collapse

	.container-fluid
		.row-fluid
			.span3
				.well.sidebar-nav
					ul.nav.nav-list
						li.active
							.btn.btn-success Send A Referral 
						li.nav-header
							| Inbox 
						li
							a(href='#') Unread
						li
							a(href='#') Sent
						li
							a(href='#') Action Center
						li.nav-header
							| Network 
						li
							a(href='#') Patients
						li
							a(href='#') Contacts
						li
							a(href='#') Invitations
						li.nav-header
							| Reports 
						li
							a(href='#') My Trends
						li
							a(href='#') Network Activity
			.span9
				h1 hello fellow referralMD rockstar dev's!
				p This is where
				p the app will exist
				p ...
				.btn.btn-primary Cool Button that does absolutly nothing!
	.footer
		p &copy; 2013 referralMD&trade; | All Rights Reserved.